*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #F2F2F2;
}

button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    outline: none;
    transition: transform 0.3s ease-in-out;

}
button:hover{
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        box-shadow: none;
        outline: none;
        transition: transform 0.3s ease-in-out;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.backGround{
    width: 100%;
    position: relative;
}

.backGroundVideo{
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
}

.navigationBar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 11vw;
}

.logo{
    margin-left: 5%;
    width: 5.5vw;
    height: 5.5vw;
    margin-top: 0;
    padding-top: 0;
    border-radius: 50%;
}

.navigationBar ul{
    display: flex;
    justify-content: space-between;
    gap: 6vw;
    align-items: center;
    margin-right: 5%;
    margin-top: 0;
}

.navigationBar ul li{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.6vw;
    font-weight: 500;
}

.navigationBar ul li:hover{
    text-decoration: underline;
    transform: translateY(-2px);
}

.headingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 16vw;
    padding-bottom: 6vw;

}

.button{
background-color: transparent;
border: solid 0.5vw;
border-color: #fff;
border-radius: 50px;
font-family: "Montserrat", sans-serif;
color: #fff;
font-size: 2vw;
padding-top: 1.5vw;
padding-bottom: 1.5vw;
padding-left: 4vw;
padding-right: 4vw;
font-weight: 400;
}

.button:hover{
    background-color: #fff;
    font-size: 2vw;
    font-family: "Montserrat", sans-serif;
    border: solid 0.5vw;
    border-color: #fff;
    border-radius: 50px;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 4vw;
    padding-right: 4vw;
    font-weight: 600;
    color: rgb(42, 39, 39);
    cursor: pointer;
}


.heading{
    color:#fff;
    font-size: 4vw;
    font-family: "Montserrat", sans-serif;
    animation: slideInFromBelow 1.2s ease-out;
}
@keyframes slideInFromBelow {
    0% {
        transform: translateY(120%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@font-face {
    font-family: "Themundayfreeversion-Regular";
    src: url('./assets/Themundayfreeversion-Regular.ttf') format('truetype');
}

.subHeading {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.7vw;
    color:rgb(255, 200, 0);
    animation: slideInFromBelow 1.5s ease-out;
    font-weight: 400;
}


.editedVideos{
    margin-top: 0vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.2vw;
}

.subTitle{
    font-size: 2.5vw;
    font-family: "Montserrat", sans-serif;
    color: rgb(34, 32, 32);
    margin: auto;
    text-align: center;
    margin-top: 4vw;
}

.thumbnail{
    width: 27vw;
    height: 16vw;
    border: 2px solid rgb(46, 42, 42);
    border-radius: 12px;
    margin-top: 3vw;
    cursor:pointer;
    transition: transform 0.3s ease-in-out;   
}

.thumbnail:hover {
    transform: scale(1.1);
}

.hidden{
    opacity: 0;
    transform: translateX(-40%);
    transition: all 1s;
}

.show{
    opacity: 1;
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: rgb(34, 33, 33);
    justify-content: center;
    align-items: center;
    padding: 3vw;
}

.footer div{
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.iconContainer{
    display: flex;
    flex-direction: row;
}

.icon{
    margin: 3vw 1.2vw;
    height: 3vw;
    width: 3vw;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;   
}

.icon:hover{
    transform: scale(1.1);
}


.editedShorts{
    height: 23vw;
    width: 16vw;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border: 0.1vw black solid;
    box-shadow: 3px 2px 10px 0px black;
}

.editedShorts:hover{
    transform: scale(1.1);
}

.shortsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    margin-top: 5vw;
    margin-bottom: 8vw;
}

.thumbnailDesignContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3vw;
    justify-content: center;
    gap: 2.8vw;
    margin-bottom: 6vw;
}

.thumbnailDesign{
    width: 28vw;
    height: 16vw;
}



.copyright {
    font-size: 1vw; 
    color: #fff; 
  }


/*   Resume Page     */
.backGroundImage{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.resumeContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 9vw;
    padding-top: 10vw;
}

.firstHalf{
    position: fixed;
    left: 7vw;
    min-width: 25vw;
    min-height: 39.2vw;
    border-radius: 12px;
    background-color: ghostwhite;
}

.secondHalf{
    min-width: 55vw;
    min-height: 100vw;
    background-color: ghostwhite;
    border-radius: 12px;
    margin-bottom: 10vw;
}

.profilePhoto{
    width: 13vw;
    height: 13vw;
    border-radius: 12px;
    position: fixed;
    left: 13vw;
    top: 1px;
    margin-top: 4vw;
}

.profileName{
    z-index: 1;
    font-family: "Themundayfreeversion-Regular", serif; 
    color: black;
    font-size: 2vw;
    font-weight: 600;
    position: fixed;
    left: 15vw;
    top: 1px;
    margin-top: 17vw;
    color: black;
    font-weight: 700;
}

.passion{
    background-color: #f1f1f3;
    color: rgb(58, 57, 57);
    width: 20vw;
    text-align: center;
    height: 2.2vw;
    padding: 0.4vw;
    font-size: 1vw;
    font-weight: 500;
    position: fixed;
    font-family: "Montserrat", sans-serif;
    left: 9.5vw;
    top: 1px;
    margin-top: 21vw;
    border-radius: 3px;
}

.iconResume{
    z-index: 1;
    position: fixed;
    left: 10.7vw;
    top: 1px;
    margin-top: 24.5vw;
    padding: 0;
}

.iconProfile{
    background-color: #f1f1f3;
    border-radius: 8px;
    padding: 0.4vw;
    margin: 0.8vw 1vw;
    border: 0;
    height: 2.5vw;
    width: 2.5vw;
}

.contactInformation{
    min-width: 21vw;
    background-color: #f1f1f3;
    z-index: 1;
    position: fixed;
    left: 9vw;
    top: 1px;
    margin-top: 30vw;
    border-radius: 8px;
}
hr{
    background-color: darkgray;
    width: 70%;
    margin: auto;
    border-color: #e3dede;
    opacity: 0.2;
    height: 2px;
}

.containerXY{
    display: flex;
    justify-content: flex-start;
    gap: 0.6vw;
    align-items: center;
}

.textXY{
    font-size: 0.9vw;
    color: rgb(152, 151, 151);
    font-weight: 600;
    line-height: 1.3vw;
    font-family: "Montserrat", sans-serif;

}

.textYZ{
    font-size: 1.1vw;
    font-family: "Montserrat", sans-serif;
}

.aboutHeading{
    font-size: 2.5vw;
    font-family: "Montserrat", sans-serif;
    color: rgb(34, 32, 32);
    margin: auto;
    text-align: start;
    margin-top: 4vw;
    color: rgb(47, 47, 47);
    margin-left: 3vw;
}

.aboutHR{
    border-color: rgb(0, 106, 255);
    height: 0.3vw;
    background-color: rgb(0, 106, 255);
    opacity: 1;
    border-radius: 15px;
    width: 30%;
    display:inline-block;
    margin-left: 1.7vw;
    margin-bottom: 0.7vw;
    border-style: none;
}

.aboutText{
    width: 49vw;
    font-family: serif;
    margin: auto;
    text-align: justify;
    margin-top: 2vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: rgb(128, 127, 127);
    font-size: 1.4vw;

}

.doingContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5vw;
    margin-top: 2.5vw
}

.doing{
    background-color: rgb(250, 235, 216);
    width: 23vw;
    border-radius: 8px;
    height: 14vw;
    display: flex;
    padding: 1vw;
    justify-content: flex-start;
    gap: 1vw;
}

.textHeading{
    font-size: 1.3vw;
    margin-top: 0.5vw;
    color: rgb(46, 43, 43);
    font-family: "Noto Sans", sans-serif;
}

.textContent{
    font-size: 1.1vw;
    margin-top:1.2vw;
    text-align: justify;
    margin-right: 1vw;
    color: rgb(128, 127, 127);
    font-family: "Noto Sans", sans-serif;
}

.iconDoing{
    margin: 0;
    padding: 0;
    border-radius: 3px;
    background-color: transparent;
    border: transparent;
    width: 3.5vw;
    height: 3vw;
}

.iconDoing:hover{
    transform: scale(1);
    cursor: default;
}

.skillsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 0.4vw;
    margin-bottom: 0.8vw;
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    margin-left: 3vw;
    margin-top: 0.4vw;
}

.skillsText{
    font-size: 1.3vw;
    font-family: "Montserrat", sans-serif;
    width: 14vw;
}

.skillsFillBar{
    width: 8vw;
    height: 0.6vw;
    background-color: #089fda;
    border-radius: 3px;
}

.skillsEmptyBar{
    width: 14vw;
    height: 0.6vw;
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3px;
}

.experienceContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1.5vw;
    margin-left: 3vw;
    gap: 2vw;
}

.experienceInnerContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.2vw;
}

.experienceSubHeading{
    font-weight: 600;
    font-size: 1.3vw;
    font-family: "Montserrat", sans-serif;
    width: fit-content;
}

.experienceText{
    width: 45vw;
    text-align: justify;
    font-size: 1.1vw;
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
}

.navBarRS{
    width: 29vw;
    height: 4vw;
    transform: rotate(0deg) skewX(30deg);
    background-color: ghostwhite;
    border-radius: 8px;
    position:absolute;
    top: 7.9vw;
    left: 60.2vw;
    box-shadow: -3px 3px 10px 0px #1d1c1c73;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.navBar{
    transform: rotate(0deg) skewX(-30deg);
    margin-right: 3vw;
    font-family: 'Times New Roman', Times, serif;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
}

.navBar:hover{
text-decoration: underline;
transform: rotate(0deg) skewX(-30deg) translateY(-2px);
}

@media(min-aspect-ratio: 9/16){
    .backGroundVideo{
        width: 100%;
        height: auto;
    }
    .navigationBar ul li{
        color: white;
        font-family: "Montserrat", sans-serif;
        font-family: 'Times New Roman', Times, serif;
    }
}
@media(max-aspect-ratio: 9/16){
    .backGroundVideo{
        width: 100%;
        max-height: 70vw;
    }

    .navigationBar ul li{
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 2.2vw;
        min-height: 30px;
        padding-top: 3vw;
        font-family: 'Times New Roman', Times, serif;
    }
    .editedVideos{
        margin-top: 4vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        justify-content: space-between;
        align-items: center;
    } 
    
    .thumbnail{
        width: 60vw;
        height: 40vw;
        border: 2px solid rgb(46, 42, 42);
        border-radius: 2%;
        margin: 3vw;
        cursor:pointer;
        transition: transform 0.3s ease-out;   
    }

    .shortsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5vw;
        margin-bottom: 8vw;
    }
    
    .editedShorts{
    height: 48vw;
    width: 28vw;
    }

    .thumbnailDesignContainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 3vw;
        justify-content: center;
        gap: 2.8vw;
        margin-bottom: 6vw;
        align-items: center;
    }

    .thumbnailDesign{
        width: 40vw;
        height: 22vw;
    }
    
}
