*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: aliceblue;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.backGround{
    width: 100%;
    position: relative;
}

.backGroundVideo{
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 9/16){
    .backGroundVideo{
        width: 100%;
        height: auto;
    }
    .navigationBar ul li{
        color: white;
        font-family: "Montserrat", sans-serif;
        min-height: 30px;
        padding-top: 3.1vw;
    }
}
@media(max-aspect-ratio: 9/16){
    .backGroundVideo{
        width: auto;
        max-height: 120%;
    }

    .navigationBar ul li{
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 2.2vw;
        min-height: 30px;
        padding-top: 3vw;
    }
}


.navigationBar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.2vw;
    height: 6vw;
}

.logo{
    margin-left: 5%;
    width: 5.5vw;
    height: 5.5vw;
}

.navigationBar ul{
    display: flex;
    justify-content: space-between;
    gap: 6vw;
    margin-right: 5%;
}

.navigationBar ul li{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    min-height: 30px;
}

.navigationBar ul li:hover{
    text-decoration: underline;
    transform: translateY(-2px);
}

.headingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vw;
}

.button{
background-color: transparent;
border: solid 0.5vw;
border-color: #fff;
border-radius: 50px;
font-family: "Montserrat", sans-serif;
color: #fff;
font-size: 2vw;
padding-top: 1.5vw;
padding-bottom: 1.5vw;
padding-left: 4vw;
padding-right: 4vw;
font-weight: 400;
}

button:hover{
    background-color: #fff;
    font-weight: 700;
    color: rgb(44, 40, 40); 
    border-color: transparent;
    cursor: pointer;
    border: transparent solid 0.5vw;
}


.headingContainer h1{
    color:#fff;
    font-size: 6vw;
    font-family: "Montserrat", sans-serif;
    animation: slideInFromBelow 1.5s ease-out;
}
@keyframes slideInFromBelow {
    0% {
        transform: translateY(150%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.headingContainer h1:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

.editedVideos{
    margin-top: 14vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editedVideos h1{
    font-size: 4vw;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
    color: rgb(34, 32, 32);
}

.thumbnail{
    width: 50vw;
    height: 30vw;
    max-width: 50vw;
    max-height: 30vw;
    border: 2px solid rgb(46, 42, 42);
    border-radius: 2%;
    margin: 3vw;
    cursor:pointer;
    transition: transform 0.3s ease-in-out;   
}

.thumbnail:hover {
    transform: scale(1.1);
}

.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1.5s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.hidden:nth-child(2){
    transform: translateX(38%);
}

.hidden:nth-child(4){
    transform: translateX(38%);
}

.show:nth-child(2){
    transform: translateX(0);
}

.show:nth-child(4){
    transform: translateX(0);
}

.footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: rgb(34, 33, 33);
    justify-content: center;
    align-items: center;
    padding: 3vw;
}

.footer div{
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.iconContainer{
    display: flex;
    flex-direction: row;
}

.icon{
    margin: 3vw 1.2vw;
    height: 3vw;
    width: 3vw;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;   
}

.icon:hover{
    transform: scale(1.1);
}